@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@import "tailwindcss";

@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9529 0.0146 102.4597);
  --foreground: oklch(0.4063 0.0255 40.3627);
  --card: oklch(0.9529 0.0146 102.4597);
  --card-foreground: oklch(0.4063 0.0255 40.3627);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4063 0.0255 40.3627);
  --primary: oklch(0.6083 0.0623 44.3588);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7473 0.0387 80.5476);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.8502 0.0389 49.0874);
  --muted-foreground: oklch(0.5416 0.0512 37.2132);
  --accent: oklch(0.8502 0.0389 49.0874);
  --accent-foreground: oklch(0.4063 0.0255 40.3627);
  --destructive: oklch(0.2225 0.0098 52.9636);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.7473 0.0387 80.5476);
  --input: oklch(0.7473 0.0387 80.5476);
  --ring: oklch(0.6083 0.0623 44.3588);
  --chart-1: oklch(0.6083 0.0623 44.3588);
  --chart-2: oklch(0.5416 0.0512 37.2132);
  --chart-3: oklch(0.7272 0.0539 52.3320);
  --chart-4: oklch(0.7473 0.0387 80.5476);
  --chart-5: oklch(0.6440 0.0405 52.3917);
  --sidebar: oklch(0.8903 0.0278 49.5658);
  --sidebar-foreground: oklch(0.4063 0.0255 40.3627);
  --sidebar-primary: oklch(0.6083 0.0623 44.3588);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7272 0.0539 52.3320);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.6440 0.0405 52.3917);
  --sidebar-ring: oklch(0.6083 0.0623 44.3588);
  --font-sans: Fredoka, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: Fredoka, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.11;
  --shadow-color: #997b6c;
  --shadow-2xs: 2px 2px 0px 0px hsl(20.0000 18.0723% 51.1765% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20.0000 18.0723% 51.1765% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20.0000 18.0723% 51.1765% / 0.11), 2px 1px 2px -1px hsl(20.0000 18.0723% 51.1765% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20.0000 18.0723% 51.1765% / 0.11), 2px 1px 2px -1px hsl(20.0000 18.0723% 51.1765% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20.0000 18.0723% 51.1765% / 0.11), 2px 2px 4px -1px hsl(20.0000 18.0723% 51.1765% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20.0000 18.0723% 51.1765% / 0.11), 2px 4px 6px -1px hsl(20.0000 18.0723% 51.1765% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20.0000 18.0723% 51.1765% / 0.11), 2px 8px 10px -1px hsl(20.0000 18.0723% 51.1765% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20.0000 18.0723% 51.1765% / 0.28);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --card-title: #f8f8f9;
  --card-text: #231f20;
}

.dark {
  --background: oklch(0.3628 0.0327 220.8395);
  --foreground: oklch(0.8146 0.1501 72.5);
  --card: oklch(0.3628 0.0327 220.8395);
  --card-foreground: oklch(0.8146 0.1501 72.5);
  --popover: oklch(0.3628 0.0327 220.8395);
  --popover-foreground: oklch(0.8146 0.1501 72.5);
  --primary: oklch(0.8146 0.1501 72.5);
  --primary-foreground: oklch(0.4132 0.0336 198.7624);
  --secondary: oklch(0.7473 0.0387 80.5476);
  --secondary-foreground: oklch(0.9529 0.0146 102.4597);
  --muted: oklch(0.5341 0.0297 76.5504);
  --muted-foreground: oklch(0.6548 0.0980 75.9015);
  --accent: oklch(26.56% 0.03008 217.504);
  --accent-foreground: oklch(0.8146 0.1501 72.5);
  --destructive: oklch(0.6875 0.1420 21.4566);
  --destructive-foreground: oklch(0.2721 0.0141 48.1783);
  --border: oklch(0.8146 0.1501 72.5);
  --input: oklch(26.56% 0.03008 217.504);
  --ring: oklch(0.7332 0.1128 75.1351);
  --chart-1: oklch(0.7272 0.0539 52.3320);
  --chart-2: oklch(0.7473 0.0387 80.5476);
  --chart-3: oklch(0.6083 0.0623 44.3588);
  --chart-4: oklch(0.5416 0.0512 37.2132);
  --chart-5: oklch(0.6440 0.0405 52.3917);
  --sidebar: oklch(0.2225 0.0098 52.9636);
  --sidebar-foreground: oklch(0.9529 0.0146 102.4597);
  --sidebar-primary: oklch(0.7272 0.0539 52.3320);
  --sidebar-primary-foreground: oklch(0.2225 0.0098 52.9636);
  --sidebar-accent: oklch(0.7473 0.0387 80.5476);
  --sidebar-accent-foreground: oklch(0.2225 0.0098 52.9636);
  --sidebar-border: oklch(0.4063 0.0255 40.3627);
  --sidebar-ring: oklch(0.7272 0.0539 52.3320);
  --font-sans: Fredoka, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: Fredoka, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.11;
  --shadow-color: #5a483f;
  --shadow-2xs: 2px 2px 0px 0px hsl(20.0000 17.6471% 30.0000% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20.0000 17.6471% 30.0000% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20.0000 17.6471% 30.0000% / 0.11), 2px 1px 2px -1px hsl(20.0000 17.6471% 30.0000% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20.0000 17.6471% 30.0000% / 0.11), 2px 1px 2px -1px hsl(20.0000 17.6471% 30.0000% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20.0000 17.6471% 30.0000% / 0.11), 2px 2px 4px -1px hsl(20.0000 17.6471% 30.0000% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20.0000 17.6471% 30.0000% / 0.11), 2px 4px 6px -1px hsl(20.0000 17.6471% 30.0000% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20.0000 17.6471% 30.0000% / 0.11), 2px 8px 10px -1px hsl(20.0000 17.6471% 30.0000% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20.0000 17.6471% 30.0000% / 0.28);
  --card-title: #231f20;
  --card-text: #f8f8f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@layer utilities {
  [role="menuitemradio"]:not([disabled]),
  [role="menuitemcheckbox"]:not([disabled]) {
    cursor: pointer;
  }
}